$color = #000
$background = #fff

body
	background $background
	color $color
	font-size 14px
	&.medium
		font-size 21px
	&.big
		font-size 28px

a
	color $color
	text-decoration underline
	&:focus
	&:hover
		color inherit

h1
	font-size 2.6em
	margin-top 0
h2
	font-size 2.15em
	margin-top 0
h3
	font-size 1.7em
	margin-top 0
h4
	font-size 1.25em
	margin-top 0
h5
	font-size 1.1em

ul
	margin 0
	padding 0

.clearfix
	&:before
	&:after
		content ""
		display table
	&:after
		clear both

// Wrapper
.wrapper
	&--normal
		padding 40px 0
	&--thin
		padding 0
