.pagination
	border-radius 0
	> li > a
		text-decoration underline
	> li > a
	> li > span
		background $background
		color $color
		padding 0.4em 0.7em
		&:hover
			background $background
			color $color
	> li.active > a
		background $color
		color $background
		border-color $color
		font-weight bold
		&:hover
			background $color
			color $background
