.section
	&__person
		margin-top 4em
		&:nth-child(2n+1)
			clear both

	&__contacts
	&__docs
	&__other
	&__slider
	&__text
		margin-top 4em
	&__news
		margin-top 4em

	&__authority
		margin-top 4em
		.title
			pointer-events none
			font-size 1.7em
		.description
			padding 1em 0 0
			display block

	&__news
		margin-top 4em
		.all-news h2
			font-size 1.25em


.section-person
	&__image
		display inline-block
		vertical-align top
		width 95px
	&__card
		display inline-block
		vertical-align top
		width calc(100% - 100px)

