.static
	h2
		margin 1em 0 0.5em
	&__symbols
		.coat-of-arms
			display inline-block
			margin-right 19px
			width 37px
			height 43px
			background url("../images/eao-symbols.png") no-repeat left top
		.flag
			display inline-block
			width 60px
			height 43px
			background url("../images/eao-symbols.png") no-repeat right top
	&__person
		margin-top 1em
		margin-bottom 2em

.person
	&__photo
		display inline-block
		vertical-align top
		width 160px
	&__description
		display inline-block
		vertical-align top
		width calc(100% - 170px)