extends base

block title
	| Главная - официальный портал ЕАО

block content
	main
		.wrapper.wrapper--gray
			.container
				.row
					.col-md-6
						.slider
							ul
								li.slider__item
									img(src="/images/index-slider.jpg")
									.slider__text
										+lipsum(2, "sentences")
								li.slider__item
									img(src="/images/index-slider.jpg")
									.slider__text
										+lipsum(2, "sentences")
								li.slider__item
									img(src="/images/index-slider.jpg")
									.slider__text
										+lipsum(2, "sentences")
							a(href="").slider__arrow.slider__arrow--prev.js-prev
								i.fa.fa-chevron-left
							a(href="").slider__arrow.slider__arrow--next.js-next
								i.fa.fa-chevron-right

					.col-md-6
						.news-panel
							ul.nav.nav-tabs.news-panel__tabs.clearfix
								li(role="presentation").news-panel__tab.active
									a(href="#news-tab") Новости
								li(role="presentation").news-panel__tab
									a(href="#official-tab") Новости органов власти
								li(role="presentation").news-panel__tab
									a(href="#events-tab") Календарь событий
							.tab-content
								#news-tab.tab-pane.news-panel__content.active(role="tabpanel")
									.news-panel__item
										.data.small 27.09.2015
										.text
											+lipsum(15, 'words')
											a(href="") Подробнее...
									.news-panel__item
										.data.small 27.09.2015
										.text
											+lipsum(15, 'words')
											a(href="") Подробнее...
									.news-panel__item
										.data.small 27.09.2015
										.text
											+lipsum(15, 'words')
											a(href="") Подробнее...
									.news-panel__item
										.data.small 27.09.2015
										.text
											+lipsum(15, 'words')
											a(href="") Подробнее...
								#official-tab.tab-pane.news-panel__content(role="tabpanel")
									.news-panel__item
										.data.small 27.09.2015
										.text
											+lipsum(15, 'words')
											a(href="") Подробнее...
								#events-tab.tab-pane.news-panel__content(role="tabpanel")
									.news-panel__item
										.data.small 27.09.2015
										.text
											+lipsum(15, 'words')
											a(href="") Подробнее...
		.wrapper
			.container
				.slider-long
					ul
						li
							a(href="")
								img(src="/images/index-small-slider.jpg")
						li
							a(href="")
								img(src="/images/index-small-slider.jpg")
						li
							a(href="")
								img(src="/images/index-small-slider.jpg")
						li
							a(href="")
								img(src="/images/index-small-slider.jpg")
						li
							a(href="")
								img(src="/images/index-small-slider.jpg")
						li
							a(href="")
								img(src="/images/index-small-slider.jpg")
						li
							a(href="")
								img(src="/images/index-small-slider.jpg")
		.wrapper.wrapper--gray
		.wrapper