extends base

block title
	| Главная - официальный портал ЕАО

block content
	main
		.wrapper.wrapper--normal.wrapper--gray
			.container
				.row
					//- First slider
					.col-md-6
						.slider.swiper-container.swiper-1
							.swiper-wrapper
								.slider__item.swiper-slide
									img(src="/images/index-slider.jpg")
									.slider__text
										+lipsum(2, "sentences")
								.slider__item.swiper-slide
									img(src="/images/index-slider.jpg")
									.slider__text
										+lipsum(2, "sentences")
								.slider__item.swiper-slide
									img(src="/images/index-slider.jpg")
									.slider__text
										+lipsum(2, "sentences")
							.swiper-pagination.swiper-pagination-1
							.swiper-button-prev.swiper-button-prev-1
							.swiper-button-next.swiper-button-next-1

					//- Tabs / Second slider
					.col-md-6
						.news-panel
							.news-panel__tabs.slider.js-slider-tabs
								ul.nav.nav-tabs.clearfix
									li(role="presentation").news-panel__tab.active
										a(href="#news-tab") Новости
									li(role="presentation").news-panel__tab
										a(href="#official-tab") Новости органов власти
									li(role="presentation").news-panel__tab
										a(href="#events-tab") Календарь событий
								a(href="").slider__arrow.slider__arrow--prev.js-prev
									i.fa.fa-chevron-left
								a(href="").slider__arrow.slider__arrow--next.js-next
									i.fa.fa-chevron-right
								.slider__nav
							.tab-content
								#news-tab.tab-pane.active(role="tabpanel")
									.news-panel__item
										.data.small 27.09.2015
										.text
											+lipsum(15, 'words')
											a(href="") Подробнее...
									.news-panel__item
										.data.small 27.09.2015
										.text
											+lipsum(15, 'words')
											a(href="") Подробнее...
									.news-panel__item
										.data.small 27.09.2015
										.text
											+lipsum(15, 'words')
											a(href="") Подробнее...
									.news-panel__item
										.data.small 27.09.2015
										.text
											+lipsum(15, 'words')
											a(href="") Подробнее...
								#official-tab.tab-pane(role="tabpanel")
									.news-panel__item
										.data.small 27.09.2015
										.text
											+lipsum(15, 'words')
											a(href="") Подробнее...
								#events-tab.tab-pane(role="tabpanel")
									.news-panel__item
										.data.small 27.09.2015
										.text
											+lipsum(15, 'words')
											a(href="") Подробнее...
		.wrapper.wrapper--normal
			.container
				.row
					.col-xs-12
						.slider.slider--arrow-outside.slider--multiply.swiper-container.swiper-3
							.swiper-wrapper
								.slider__item.swiper-slide
									a(href="")
										img(src="/images/index-small-slider.jpg")
								.slider__item.swiper-slide
									a(href="")
										img(src="/images/index-small-slider.jpg")
								.slider__item.swiper-slide
									a(href="")
										img(src="/images/index-small-slider.jpg")
								.slider__item.swiper-slide
									a(href="")
										img(src="/images/index-small-slider.jpg")
								.slider__item.swiper-slide
									a(href="")
										img(src="/images/index-small-slider.jpg")
								.slider__item.swiper-slide
									a(href="")
										img(src="/images/index-small-slider-red.jpg")
								.slider__item.swiper-slide
									a(href="")
										img(src="/images/index-small-slider-blue.jpg")
							.slider__outside-pagination.swiper-pagination.swiper-pagination-3
							.swiper-button-prev.swiper-button-prev-3
							.swiper-button-next.swiper-button-next-3
		.wrapper.wrapper--normal.wrapper--gray
			.container
				.row
					.col-md-8
						.slider.slider--text.swiper-container.swiper-4
							.swiper-wrapper
								.slider__item.swiper-slide
									img(src="/images/index-left-slider.jpg")
									.slider__text Социальная сфера
								.slider__item.swiper-slide
									img(src="/images/index-left-slider.jpg")
									.slider__text Здравоохранение
								.slider__item.swiper-slide
									img(src="/images/index-left-slider.jpg")
									.slider__text Образование
								.slider__item.swiper-slide
									img(src="/images/index-left-slider.jpg")
									.slider__text Спорт
							.slider__outside-mobile-pagination.swiper-pagination.swiper-pagination-4
							.swiper-button-prev.swiper-button-prev-4
							.swiper-button-next.swiper-button-next-4
						.slider-text
							.slider-text__tab
								.slider-text__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.slider-text__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.slider-text__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.slider-text__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
							.slider-text__tab
								.slider-text__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.slider-text__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.slider-text__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.slider-text__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
							.slider-text__tab
								.slider-text__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.slider-text__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.slider-text__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.slider-text__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
							.slider-text__tab
								.slider-text__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.slider-text__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.slider-text__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.slider-text__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...

					.col-md-4
						.slider.swiper-container.swiper-5
							.swiper-wrapper
								.slider__item.swiper-slide
									img(src="/images/index-right-slider.jpg")
									.slider__text
										+lipsum(2, "sentences")
								.slider__item.swiper-slide
									img(src="/images/index-right-slider.jpg")
									.slider__text
										+lipsum(2, "sentences")
								.slider__item.swiper-slide
									img(src="/images/index-right-slider.jpg")
									.slider__text
										+lipsum(2, "sentences")
								.slider__item.swiper-slide
									img(src="/images/index-right-slider.jpg")
									.slider__text
										+lipsum(2, "sentences")
								.slider__item.swiper-slide
									img(src="/images/index-right-slider.jpg")
									.slider__text
										+lipsum(2, "sentences")
								.slider__item.swiper-slide
									img(src="/images/index-right-slider.jpg")
									.slider__text
										+lipsum(2, "sentences")
								.slider__item.swiper-slide
									img(src="/images/index-right-slider.jpg")
									.slider__text
										+lipsum(2, "sentences")
							.swiper-pagination.swiper-pagination-5
							.swiper-button-prev.swiper-button-prev-5
							.swiper-button-next.swiper-button-next-5
		.wrapper.wrapper--normal
			.container
				.row
					.col-xs-12
						.slider.slider--arrow-outside.slider--multiply.swiper-container.swiper-6
							.swiper-wrapper
								.slider__item.swiper-slide
									a(href="")
										img(src="/images/index-small-slider.jpg")
								.slider__item.swiper-slide
									a(href="")
										img(src="/images/index-small-slider.jpg")
								.slider__item.swiper-slide
									a(href="")
										img(src="/images/index-small-slider.jpg")
								.slider__item.swiper-slide
									a(href="")
										img(src="/images/index-small-slider.jpg")
								.slider__item.swiper-slide
									a(href="")
										img(src="/images/index-small-slider.jpg")
								.slider__item.swiper-slide
									a(href="")
										img(src="/images/index-small-slider-red.jpg")
								.slider__item.swiper-slide
									a(href="")
										img(src="/images/index-small-slider.jpg")
								.slider__item.swiper-slide
									a(href="")
										img(src="/images/index-small-slider.jpg")
								.slider__item.swiper-slide
									a(href="")
										img(src="/images/index-small-slider.jpg")
								.slider__item.swiper-slide
									a(href="")
										img(src="/images/index-small-slider-blue.jpg")
							.slider__outside-pagination.swiper-pagination.swiper-pagination-6
							.swiper-button-prev.swiper-button-prev-6
							.swiper-button-next.swiper-button-next-6
