extends base

block title
	| Главная - официальный портал ЕАО

block content
	main
		.wrapper.wrapper--normal.wrapper--gray
			.container
				.row
					//- First slider
					.col-md-6
						.slider.js-slider-single
							.slider__nav.slider__nav--on-top
							ul.slider__container
								li.slider__item
									img(src="/images/index-slider.jpg")
									.slider__text
										+lipsum(2, "sentences")
								li.slider__item
									img(src="/images/index-slider.jpg")
									.slider__text
										+lipsum(2, "sentences")
								li.slider__item
									img(src="/images/index-slider.jpg")
									.slider__text
										+lipsum(2, "sentences")
							a(href="").slider__arrow.slider__arrow--prev.js-prev
								i.fa.fa-chevron-left
							a(href="").slider__arrow.slider__arrow--next.js-next
								i.fa.fa-chevron-right

					//- Tabs / Second slider
					.col-md-6
						.news-panel.js-slider-tabs
							ul.nav.nav-tabs.news-panel__tabs.clearfix
								li(role="presentation").news-panel__tab.active
									a(href="#news-tab") Новости
								li(role="presentation").news-panel__tab
									a(href="#official-tab") Новости органов власти
								li(role="presentation").news-panel__tab
									a(href="#events-tab") Календарь событий
							.tab-content
								#news-tab.tab-pane.active(role="tabpanel")
									.news-panel__item
										.data.small 27.09.2015
										.text
											+lipsum(15, 'words')
											a(href="") Подробнее...
									.news-panel__item
										.data.small 27.09.2015
										.text
											+lipsum(15, 'words')
											a(href="") Подробнее...
									.news-panel__item
										.data.small 27.09.2015
										.text
											+lipsum(15, 'words')
											a(href="") Подробнее...
									.news-panel__item
										.data.small 27.09.2015
										.text
											+lipsum(15, 'words')
											a(href="") Подробнее...
								#official-tab.tab-pane(role="tabpanel")
									.news-panel__item
										.data.small 27.09.2015
										.text
											+lipsum(15, 'words')
											a(href="") Подробнее...
								#events-tab.tab-pane(role="tabpanel")
									.news-panel__item
										.data.small 27.09.2015
										.text
											+lipsum(15, 'words')
											a(href="") Подробнее...
		.wrapper.wrapper--normal
			.container
				.row
					.col-xs-12
						.slider.slider--arrow-outside.slider--multiply.js-slider-multiply(data-showitems="5" data-nav-outside="true")
							ul.slider__container
								li.slider__item
									a(href="")
										img(src="/images/index-small-slider.jpg")
								li.slider__item
									a(href="")
										img(src="/images/index-small-slider.jpg")
								li.slider__item
									a(href="")
										img(src="/images/index-small-slider.jpg")
								li.slider__item
									a(href="")
										img(src="/images/index-small-slider.jpg")
								li.slider__item
									a(href="")
										img(src="/images/index-small-slider.jpg")
								li.slider__item
									a(href="")
										img(src="/images/index-small-slider-red.jpg")
								li.slider__item
									a(href="")
										img(src="/images/index-small-slider-blue.jpg")
							a(href="").slider__arrow.slider__arrow--prev.js-prev
								i.fa.fa-chevron-left
							a(href="").slider__arrow.slider__arrow--next.js-next
								i.fa.fa-chevron-right
							.slider__nav
		.wrapper.wrapper--normal.wrapper--gray
			.container
				.row
					.col-md-8
						.slider.slider--text.js-slider-text(data-side-text="true")
							.slider__nav.slider__nav--on-top
							ul.slider__container
								li.slider__item
									img(src="/images/index-left-slider.jpg")
									.slider__text Социальная сфера
								li.slider__item
									img(src="/images/index-left-slider.jpg")
									.slider__text Здравоохранение
								li.slider__item
									img(src="/images/index-left-slider.jpg")
									.slider__text Образование
								li.slider__item
									img(src="/images/index-slider.jpg")
									.slider__text Спорт
							a(href="").slider__arrow.slider__arrow--prev.js-prev
								i.fa.fa-chevron-left
							a(href="").slider__arrow.slider__arrow--next.js-next
								i.fa.fa-chevron-right
						.slider-text
							.slider-text__tab
								.slider-text__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.slider-text__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.slider-text__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.slider-text__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
							.slider-text__tab
								.slider-text__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.slider-text__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.slider-text__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.slider-text__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
							.slider-text__tab
								.slider-text__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.slider-text__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.slider-text__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.slider-text__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
							.slider-text__tab
								.slider-text__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.slider-text__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.slider-text__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.slider-text__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
					//.col-md-4
						.news-panel
							.news-panel__item
								.data.small 27.09.2015
								.text
									+lipsum(15, 'words')
									a(href="") Подробнее...
							.news-panel__item
								.data.small 27.09.2015
								.text
									+lipsum(15, 'words')
									a(href="") Подробнее...
							.news-panel__item
								.data.small 27.09.2015
								.text
									+lipsum(15, 'words')
									a(href="") Подробнее...
							.news-panel__item
								.data.small 27.09.2015
								.text
									+lipsum(15, 'words')
									a(href="") Подробнее...

					.col-md-4
						.slider.js-slider-single
							.slider__nav.slider__nav--on-top
							ul.slider__container
								li.slider__item
									img(src="/images/index-right-slider.jpg")
									.slider__text
										+lipsum(2, "sentences")
								li.slider__item
									img(src="/images/index-slider.jpg")
									.slider__text
										+lipsum(2, "sentences")
								li.slider__item
									img(src="/images/index-slider.jpg")
									.slider__text
										+lipsum(2, "sentences")
								li.slider__item
									img(src="/images/index-slider.jpg")
									.slider__text
										+lipsum(2, "sentences")
								li.slider__item
									img(src="/images/index-slider.jpg")
									.slider__text
										+lipsum(2, "sentences")
								li.slider__item
									img(src="/images/index-slider.jpg")
									.slider__text
										+lipsum(2, "sentences")
								li.slider__item
									img(src="/images/index-slider.jpg")
									.slider__text
										+lipsum(2, "sentences")
							a(href="").slider__arrow.slider__arrow--prev.js-prev
								i.fa.fa-chevron-left
							a(href="").slider__arrow.slider__arrow--next.js-next
								i.fa.fa-chevron-right
		.wrapper.wrapper--normal
			.container
				.row
					.col-xs-12
						.slider.slider--arrow-outside.slider--multiply.js-slider-multiply(data-showitems="5" data-nav-outside="true")
							ul.slider__container
								li.slider__item
									a(href="")
										img(src="/images/index-small-slider.jpg")
								li.slider__item
									a(href="")
										img(src="/images/index-small-slider.jpg")
								li.slider__item
									a(href="")
										img(src="/images/index-small-slider.jpg")
								li.slider__item
									a(href="")
										img(src="/images/index-small-slider.jpg")
								li.slider__item
									a(href="")
										img(src="/images/index-small-slider.jpg")
								li.slider__item
									a(href="")
										img(src="/images/index-small-slider-red.jpg")
								li.slider__item
									a(href="")
										img(src="/images/index-small-slider.jpg")
								li.slider__item
									a(href="")
										img(src="/images/index-small-slider.jpg")
								li.slider__item
									a(href="")
										img(src="/images/index-small-slider.jpg")
								li.slider__item
									a(href="")
										img(src="/images/index-small-slider-blue.jpg")
							a(href="").slider__arrow.slider__arrow--prev.js-prev
								i.fa.fa-chevron-left
							a(href="").slider__arrow.slider__arrow--next.js-next
								i.fa.fa-chevron-right
							.slider__nav
