include elements/lipsum

.col-md-3
	.news__item
		h3
			+lipsum(5, "words")
		.data.small 27.09.2015
		.text
			+lipsum(3, "sentences")
		a(href="").button.button--small.button--brand.button--right.button--rounded.news__more Подробнее
.col-md-3
	.news__item
		h3
			+lipsum(6, "words")
		.data.small 27.09.2015
		.text
			+lipsum(3, "sentences")
		a(href="").button.button--small.button--brand.button--right.button--rounded.news__more Подробнее
.col-md-3
	.news__item
		h3
			+lipsum(5, "words")
		.data.small 27.09.2015
		.text
			+lipsum(3, "sentences")
		a(href="").button.button--small.button--brand.button--right.button--rounded.news__more Подробнее
.col-md-3
	.news__item
		h3
			+lipsum(3, "words")
		.data.small 27.09.2015
		.text
			+lipsum(4, "sentences")
		a(href="").button.button--small.button--brand.button--right.button--rounded.news__more Подробнее
.col-md-3
	.news__item
		h3
			+lipsum(5, "words")
		.data.small 27.09.2015
		.text
			+lipsum(3, "sentences")
		a(href="").button.button--small.button--brand.button--right.button--rounded.news__more Подробнее
.col-md-3
	.news__item
		h3
			+lipsum(5, "words")
		.data.small 27.09.2015
		.text
			+lipsum(4, "sentences")
		a(href="").button.button--small.button--brand.button--right.button--rounded.news__more Подробнее
.col-md-3
	.news__item
		h3
			+lipsum(5, "words")
		.data.small 27.09.2015
		.text
			+lipsum(3, "sentences")
		a(href="").button.button--small.button--brand.button--right.button--rounded.news__more Подробнее
.col-md-3
	.news__item
		h3
			+lipsum(5, "words")
		.data.small 27.09.2015
		.text
			+lipsum(3, "sentences")
		a(href="").button.button--small.button--brand.button--right.button--rounded.news__more Подробнее
