extends base-print

block title
	| Cтраница новостей - печатная версия

block content
	.news
		h1 Новости
		mixin news__item()
			.news__item
				.data 27.09.2015
				h3.title
					+lipsum(Math.floor(Math.random() * 5 + 3),"words")
				+lipsum(1,"paragraphs")
		+news__item()
		+news__item()
		+news__item()
		+news__item()
		+news__item()
