extends base

block title
	| Новости - официальный портал ЕАО

block content
	.wrapper.wrapper--thin.wrapper--gray
		.container
			.breadcrumbs
				a(href="").breadcrumbs__link Главная
				.breadcrumbs__separator
					i.fa.fa-chevron-right
				.breadcrumbs__current Новости
	.wrapper.wrapper--normal.wrapper--bottom-border
		.container
			.row
				.col-md-8
					main.news
						mixin news__item()
							.news__item
								h3
									+lipsum(Math.floor(Math.random() * 5 + 3),"words")
								.data.small 27.09.2015
								.text
									+lipsum(Math.floor(Math.random() * 7 + 3), "sentences")
									a(href="") Подробнее...
						+news__item()
						+news__item()
						+news__item()

						.news__direction
							ul.pagination
								li
									a(href=""  aria-label="Previous")
										span(aria-hidden="true") &laquo;
								li.active
									a(href="") 1
								li
									a(href="") 2
								li
									a(href="") 3
								li
									a(href=""  aria-label="Next")
										span(aria-hidden="true") &raquo;
							a(href="") Перейти к списку новостей
				.col-md-4
					aside.other-news
						h2.text-center Свежие события
						.slider.slider--news.swiper-container.swiper-7
							.swiper-wrapper
								.slider__item.swiper-slide.text-center
									h3 Новости
								.slider__item.swiper-slide.text-center
									h3 Новости органов власти
								.slider__item.swiper-slide.text-center
									h3 Календарь событий
							.slider__outside-pagination.swiper-pagination.swiper-pagination-7
							.swiper-button-prev.swiper-button-small.swiper-button-prev-7
							.swiper-button-next.swiper-button-small.swiper-button-next-7

						.other-news__texts
							.other-news__tab.tab-1
								.other-news__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.other-news__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.other-news__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.other-news__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
							.other-news__tab.tab-2
								.other-news__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.other-news__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.other-news__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.other-news__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
							.other-news__tab.tab-3
								.other-news__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.other-news__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.other-news__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.other-news__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...


