extends base

block title
	| Новости - официальный портал ЕАО

block content
	main
		.wrapper.wrapper--thin.wrapper--gray
			.container
				.breadcrumbs
					a(href="").breadcrumbs__link Главная
					.breadcrumbs__separator
						i.fa.fa-chevron-right
					.breadcrumbs__current Новости
		.wrapper.wrapper--normal
			.container
				.row.news
					.col-md-3
						.news__item
							h3
								+lipsum(5, "words")
							.data.small 27.09.2015
							.text
								+lipsum(3, "sentences")
							a(href="").button More..
					.col-md-3
						.news__item
							h3
								+lipsum(6, "words")
							.data.small 27.09.2015
							.text
								+lipsum(3, "sentences")
							a(href="").button More..
					.col-md-3
						.news__item
							h3
								+lipsum(5, "words")
							.data.small 27.09.2015
							.text
								+lipsum(3, "sentences")
							a(href="").button More..
					.col-md-3
						.news__item
							h3
								+lipsum(3, "words")
							.data.small 27.09.2015
							.text
								+lipsum(4, "sentences")
							a(href="").button More..
					.col-md-3
						.news__item
							h3
								+lipsum(5, "words")
							.data.small 27.09.2015
							.text
								+lipsum(3, "sentences")
							a(href="").button More..
					.col-md-3
						.news__item
							h3
								+lipsum(5, "words")
							.data.small 27.09.2015
							.text
								+lipsum(4, "sentences")
							a(href="").button More..
					.col-md-3
						.news__item
							h3
								+lipsum(5, "words")
							.data.small 27.09.2015
							.text
								+lipsum(3, "sentences")
							a(href="").button More..
					.col-md-3
						.news__item
							h3
								+lipsum(5, "words")
							.data.small 27.09.2015
							.text
								+lipsum(3, "sentences")
							a(href="").button More..
