extends base

block title
	| Новости - официальный портал ЕАО

block content
	.wrapper.wrapper--thin.wrapper--gray
		.container
			.breadcrumbs
				a(href="").breadcrumbs__link Главная
				.breadcrumbs__separator
					i.fa.fa-chevron-right
				.breadcrumbs__current Новости
	.wrapper.wrapper--normal.wrapper--bottom-border
		.container
			.row
				.col-md-8
					main.news
						mixin news__item()
							.news__item
								h3
									+lipsum(Math.floor(Math.random() * 5 + 3),"words")
								.data.small 27.09.2015
								.text
									+lipsum(Math.floor(Math.random() * 7 + 3), "sentences")
									a(href="") Подробнее...
						+news__item()
						+news__item()
						+news__item()

						.news__direction
							ul.pagination
								li
									a(href=""  aria-label="Previous")
										span(aria-hidden="true") &laquo;
								li.active
									a(href="") 1
								li
									a(href="") 2
								li
									a(href="") 3
								li
									a(href=""  aria-label="Next")
										span(aria-hidden="true") &raquo;
							a(href="") Перейти к списку новостей
				.col-md-4
					aside.other-news
						h2.text-center Свежие события
						.slider.slider--arrow-outside.slider--news.js-slider-text
							ul.slider__container
								li.slider__item
									h3.slider__text Новости
								li.slider__item
									h3.slider__text Новости органов власти
								li.slider__item
									h3.slider__text Календарь событий
							a(href="").slider__arrow.slider__arrow--prev.slider__arrow--small.js-prev
								i.fa.fa-chevron-left
							a(href="").slider__arrow.slider__arrow--next.slider__arrow--small.js-next
								i.fa.fa-chevron-right
						.other-news__texts
							.other-news__tab
								.other-news__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.other-news__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.other-news__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.other-news__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
							.other-news__tab
								.other-news__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.other-news__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.other-news__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.other-news__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
							.other-news__tab
								.other-news__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.other-news__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.other-news__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...
								.other-news__item
									.data.small 27.09.2015
									.text
										+lipsum(15, 'words')
										a(href="") Подробнее...


