extends base

block title
	| Отдельный пост - официальный портал ЕАО

block content
	.wrapper.wrapper--thin.wrapper--gray
		.container
			.breadcrumbs
				a(href="").breadcrumbs__link Главная
				.breadcrumbs__separator
					i.fa.fa-chevron-right
				.breadcrumbs__current Новости
	.wrapper.wrapper--normal.wrapper--bottom-border
		.container
			.row
				.col-md-8
					main.post-page
						h1
							+lipsum(Math.floor(Math.random() * 5 + 3),"words")
						.post-page__data 27.09.2015
						.post-page__text
							+lipsum(3, "paragraphs")
						.post-page__photos
							a(href="" data-url="http://dummyimage.com/800x600/000000/fff")
								img(src="http://dummyimage.com/80x80/000000/fff" )
							a(href="" data-url="http://dummyimage.com/1000x600/00ff00/fff")
								img(src="http://dummyimage.com/120x80/00ff00/fff")
							a(href="" data-url="http://dummyimage.com/600x800/0000ff/fff")
								img(src="http://dummyimage.com/80x120/0000ff/fff")
							a(href="" data-url="http://dummyimage.com/800x600/ff0000/fff")
								img(src="http://dummyimage.com/120x80/ff0000/fff")
							a(href="" data-url="http://dummyimage.com/800x600/00ffff/fff")
								img(src="http://dummyimage.com/120x80/00ffff/fff")
							a(href="" data-url="http://dummyimage.com/800x600/ffff00/fff")
								img(src="http://dummyimage.com/120x80/ffff00/fff")
							a(href="" data-url="http://dummyimage.com/800x600/ff00ff/fff")
								img(src="http://dummyimage.com/120x80/ff00ff/fff")
						.post-page__data 27.09.2015
						.post-page__text
							+lipsum(3, "paragraphs")
						.post-page__photos
							a(href="" data-url="http://dummyimage.com/800x600/555555/fff")
								img(src="http://dummyimage.com/80x80/555555/fff" )
							a(href="" data-url="http://dummyimage.com/1000x600/00ff00/fff")
								img(src="http://dummyimage.com/120x80/00ff00/fff")
							a(href="" data-url="http://dummyimage.com/600x800/0000ff/fff")
								img(src="http://dummyimage.com/80x120/0000ff/fff")
							a(href="" data-url="http://dummyimage.com/800x600/ff0000/fff")
								img(src="http://dummyimage.com/120x80/ff0000/fff")
							a(href="" data-url="http://dummyimage.com/800x600/00ffff/fff")
								img(src="http://dummyimage.com/120x80/00ffff/fff")
							a(href="" data-url="http://dummyimage.com/800x600/ffff00/fff")
								img(src="http://dummyimage.com/120x80/ffff00/fff")
							a(href="" data-url="http://dummyimage.com/800x600/ff00ff/fff")
								img(src="http://dummyimage.com/120x80/ff00ff/fff")
				.col-md-4
					aside.other-news
						h2 Другие новости
						.other-news__item
							.data 27.09.2015
							a(href="")
								+lipsum(Math.floor(Math.random() * 4 + 8),"words")
								| ...
						.other-news__item.other-news__item--active
							.data 27.09.2015
							a(href="")
								+lipsum(Math.floor(Math.random() * 4 + 8),"words")
								| ...
						.other-news__item
							.data 27.09.2015
							a(href="")
								+lipsum(Math.floor(Math.random() * 4 + 8),"words")
								| ...
						.other-news__item
							.data 27.09.2015
							a(href="")
								+lipsum(Math.floor(Math.random() * 4 + 8),"words")
								| ...
						a(href="").other-news__list Перейти к архиву новостей
	.colorbox
		.colorbox__content
			i.fa.fa-chevron-left.arrow.arrow--left
			i.fa.fa-chevron-right.arrow.arrow--right
			i.fa.fa-times.times



