extends base-print

block title
	| Комитет тарифов и цен правительства Еврейской автономной области - официальный портал ЕАО - печатная версия

block content
	.section
		h1.text-brand Комитет тарифов и цен правительства Еврейской автономной области
		mixin person()
			.section-person
				.section-person__image
					img(src="http://dummyimage.com/76x76/999999/fff.png")
				.section-person__card
					.position
						+lipsum(Math.floor(Math.random() * 7 + 3),"words")
					.name
						+lipsum(3,"words")
		+person()
		+person()
		+person()
		+person()
		+person()
		+person()

		.section__contacts
			h2.text-brand Контакты
			p <strong>Адрес:</strong> 679016, Еврейская автономная область, г. Биробиджан, ул. Трансформаторная, д. 3а
			p <strong>E-mail:</strong> cen@post.eao.ru
			p <strong>Справочная служба:</strong> +7 (42622) 22-22-22

		//-.section__docs
			ul
				li Положение
				li Нормативно-правовые акты
				li Порядок обслуживания НПА
				li Перечень подведомственных организаций
				li Администратвные регламенты
				li Планы и отчеты
				li Установленные формы обращений, заявлений и иных документов
				li Перечень государственных программ
				li Государственные услуги
				li Тексты официальных выступлений и заявлений
				li Информация о проверках
				li Информация о размещении госсазака
				li Статистическая информация
				li Вакансии и формирование кадрового резерва
				li Работа с обращениями граждан
				li Перечень информационных систем
				li Противодейсвие коррупции

		.section__authority
			h2 Полномочия, функции, задачи
			.description
				+lipsum(2, "paragraphs")

		.section__text
			p Уважаемые посетители сайта!
			p Приветствую вас на официальном Интернет-сайте комитета тарифов и цен правительства Еврейской автономной области.
			p Комитет является органом исполнительной власти Еврейской автономной области, формируемым правительством области, осуществляющим государственное регулирование цен и тарифов, а также контроль за соблюдением порядка ценообразования на территории Еврейской автономной области.
			p Комитет осуществляет свою деятельность во взаимодействии с Федеральной службой по тарифам Российской Федерации на единой нормативно - методической основе, утверждаемой Правительством Российской Федерации, и является независимым в своих решениях в пределах полномочий, предоставленных ему законодательством.
			p Назначение нашего Интернет-сайта — предоставить максимально подробную информацию обо всех сферах тарифного регулирования и перспективных направлениях деятельности комитета. Вы сможете найти практически все нормативные документы, регламентирующие установленные тарифы, а также деятельность комитета. Также Вы можете задать интересующий Вас вопрос в сфере тарифного регулирования.
			p Мы искренне рады видеть вас на нашем официальном сайте и готовы к установлению конструктивного и взаимовыгодного диалога.
			p
				strong С уважением,
				br
				strong Председатель комитета
				br
				strong Шлыкова Галина Феликсовна