head
	meta(charset='utf-8')
body
	h1 Список страниц
	ul
		li
			<a href="index.html">Главная страница</a>
		li
			<a href="news.html">Cтраница новостей (новая версия)</a>
		li
			<a href="post-page.html">Cтраница одной новости/публикации</a>
		li
			<a href="static.html">Статическая страница (о правительстве)</a>