extends base-print

block title
	| Статическая страница - печатная версия

block content
	.static
		h1 О правительстве
		h2 Символы государственной власти
		.static__symbols
			.coat-of-arms
			.flag

		h2 Правительство ЕАО - высший исполнительный орган государственной власти области
		p Губернатор области возглавляет правительство ЕАО и формирует его состав. Правительство области разрабатывает и исполняет бюджет, распоряжается и управляет областной собственностью, организует взаимодействие с хозяйствующими структурами.
		p
			strong 679016, ЕАО, г. Биробиджан
			br
			strong проспект 60-летия СССР, 18
			br
			| e-mail: gov(@)eao.ru
			br
			| факс для принятия обращения граждан, направляемых на имя губернатора, вице-губернатора,
			br
			| заместителей председателя правительства - 8 (42622) 4-07-25, 8 (42622) 4-06-84
		h2 В состав правительства ЕАО входят
		.static__person.person.clearfix
			.person__photo
				img(src="images/levintal.jpg")
			.person__description
				| Временно исполняющий обязанности губернатора Еврейской автономной области -
				br
				strong Левинталь Александр Борисович
				br
				| тел. 8 (42622) 2-21-42,
				br
				| факс. 8 (42622) 4-07-25, 8 (42622) 4-06-84
		.static__person.person.clearfix
			.person__photo
				img(src="images/antonov.jpg")
			.person__description
				| Вице-губернатор области -
				br
				strong Антонов Геннадий Алексеевич
				br
				p ведает вопросами подготовки и проведения заседаний правительства Еврейской автономной области; контроля за исполнением федеральных законов, указов Президента Российской Федерации, постановлений Правительства Российской Федерации, законов Еврейской автономной области, постановлений и распоряжений губернатора и правительства Еврейской автономной области; организации правового обеспечения деятельности губернатора и правительства Еврейской автономной области; обеспечения деятельности аппарата мировых судей Еврейской автономной области; информатизации; формирования и функционирования муниципальных образований Еврейской автономной области; федеративных, межнациональных отношений, миграции населения; экологии; борьбы с преступностью и координации деятельности субъектов профилактики правонарушений; имущественных и земельных отношений, приватизации, управления и распоряжения государственным и муниципальным имуществом, управления и распоряжения земельными ресурсами, социального обеспечения и социальной поддержки, семьи, материнства и детства, связи, телевидения и радиовещания
				br
				| тел. 8 (42622) 4-07-30