.breadcrumbs
	font-size 12px
	&__link
		display inline-block
		&:first-of-type
			&:before
				display inline-block
				font-family FontAwesome
				content "\f015"
				margin-right 10px
	&__separator
		display inline-block
		margin 0 14px
		font-size 9px
	&__current
		display inline-block