// Fonts
body
	font-family 'Open Sans', sans-serif

// Resets
ul
	margin 0
	padding 0

// Wrappers
.wrapper
	&--normal
		padding 40px 0
	&--thin
		padding 10px 0
	&--gray
		background $gray-light
	&--bottom-border
		border-bottom 1px solid #ddd


// Sticky flex footer
html
body
	display flex
	flex-direction column
	min-height 100%

body
	flex 1 1 auto

.header
.footer
	flex 0 0 auto
.content
	flex 1 0 auto

// Texts
.small
	font-size 12px
h5
	font-weight bold
	margin-bottom 30px

.text-brand
	color $brand-primary

// For menu
@media screen and (max-width: $screen-sm-max)
	.no-mobile-relative
		position static