.header
	position relative
	&__coat
		position absolute
		width 92px
		height 103px
		left 15px
		top -13px
		z-index 1
		@media screen and (max-width: $screen-sm-max)
			left 50%
			transform translateX(-50%)
			top 0
			width 70px
			height 78px
	&__topmenu
		height 54px
		&--black
			background #242424
			color #fff
			fill #fff

	&__title
		font-size 20px
		margin 40px 0 22px
		@media screen and (min-width: $screen-md)
			margin 22px 100px
	&__menu
		> *
			&.submenu
				position relative
				padding-right 40px
				&:after
					display block
					position absolute
					font-family FontAwesome
					content "\f078"
					font-size 11px
					top 50%
					transform translateY(-50%)
					right 27px
					transition transform 350 ms linear
				a + ul
					margin 0
					padding 0
					position absolute
					left 0
					//visibility hidden
					//opacity 0
					li
						list-style none
					a
						display block
						width auto
						background #242424
	@media screen and (min-width: $screen-md)
		&:after
			display block
			content ""
			position absolute
			left 0
			bottom 0
			right 0
			height 31px
			background #f2f2f2
			z-index -1


.topmenu
	text-align right
	position relative
	& > *
		display inline-block
		padding 0
		margin 0
	& > a
	& > span
		cursor pointer
		&:not(:last-child)
			padding 17px 30px
		&:last-child
			padding 17px 0 17px 35px
	svg
		height 15px
		width auto
		position relative
		top 3px
		margin-right 18px
		fill $white


	&__link
		color #fff
		text-decoration none
		&:hover
		&:focus
			color inherit
			text-decoration none

		& > .topmenu__search
			visibility none
			pointer-events none
			opacity 0
			transition opacity 350ms

		&:hover > .topmenu__search
			visibility visible
			pointer-events auto
			opacity 1

.topmenu-accessibility
	display none






