.news-panel


	&__tabs
		position relative
		margin-top 30px
		@media screen and (min-width: $screen-md)
			margin-top 0
		ul
			position relative
			border none
			height 36px
			margin-bottom 10px
			text-align center
			@media screen and (min-width: $screen-md)
				text-align justify
				&:before
					display block
					content ""
					position absolute
					height 2px
					background #ddd
					left 0
					right 0
					top 18px
			&:after
				content ""
				display inline-block
				width 100%

			@media screen and (min-width: $screen-md)
				& ~ .slider__arrow
				& ~ .slider__nav
					display none

	&__tab
		@media screen and (max-width: $screen-sm-max)
			&:not(:first-child)
				display none
		@media screen and (min-width: $screen-md)
			display inline-block
			position relative
			z-index 1
		a
			display inline-block
			background #fff
			height 36px
			border-radius 18px
			padding 5px 19px
			border 2px solid transparent
			text-decoration none
			transition background 350ms, color 350ms, border-color 350ms
		&.active
			a
				background $brand-primary
				border-color #ddd
				color #fff
		&:hover
			a
				background #242424
				color #fff
				border-color transparent

	&__item
		padding 10px
		background transparent
		transition background 350ms
		&:hover
			background #fff
		.data
			color $brand-primary
