.news
	&__item
		position relative
		height 320px
		margin-bottom 30px
		padding 20px
		box-shadow 0 0 18px 9px #f5f5f5
		h3
			margin-top 0
			color $black
		.data
			color $gray
		.text
			color $black
	&__more
		position absolute
		bottom 20px
		right 20px