// Main page sliders

.slider
	position relative

	ul
		display block
		margin 0
		padding 0
		overflow hidden
		position relative
		&.inline
			text-align justify
			li
				display inline-block
			&:after
				content ""
				display inline-block
				width 100%

	&__item
		display inline-block
		position relative
		border-radius 4px
		img
			width 100%
			max-width 100%
			height auto
		&:not(:first-child)
			display none

	&__text
		display block
		position absolute
		bottom 0
		left 0
		right 0
		padding 12px 13px 10px
		background rgba(36,36,36,0.44)
		color #fff

	&__nav
		display block
		height 40px
		padding 10px 0
		text-align center
		z-index 1


		> *
			display inline-block
			width 10px
			height 10px
			margin 0 5px
			border-radius 50%
			background #757575
			cursor pointer
			transition background 350ms
			&.active
				background $black
				cursor default

		&--on-top
			position absolute
			bottom 0
			left 0
			right 0
			background rgba(36,36,36,0.44)
			& ~ .slider__container .slider__text
				bottom 40px
			> *
				&.active
					background $white

	&__arrow
		display block
		position absolute
		font-family FontAwesome
		color #f2f2f2
		top 50%
		transform translateY(-50%)
		width 42px
		height 42px
		background rgba(0,0,0,0.44)
		border-radius 50%
		padding 9px 15px
		font-size 17px
		&--prev
			left 10px
			padding-left 13px
		&--next
			right 10px
			padding-left 17px
		&:hover
			color #f2f2f2
			background rgba(36,36,36,0.44)

	&--arrow-outside
		padding 0 60px

	&--multiply
		ul
			&:after
				content ""
				display table
				clear both
		.slider__item
			display inline-block
			float left
			@media screen and (min-width: $screen-sm) and (max-width: $screen-sm-max)
				width (100% / 3)
				&:nth-child(n+4)
					display none
			@media screen and (min-width: $screen-md) and (max-width: $screen-md-max)
				width 25%
				&:nth-child(n+5)
					display none
			@media screen and (min-width: $screen-lg)
				width 20%
				&:nth-child(n+6)
					display none

			img
				width auto
				height auto
				display table
				margin-left auto
				margin-right auto

	&--text
		float left
		width 360px

.slider-text
	background #fbfbfb
	border-radius 0 4px 4px 0
	margin-left 360px
	&__item
		padding 10px
		cursor pointer
		background #fbfbfb
		&:not(:last-child)
			border-bottom 1px solid #f2f2f2
		&:first-child
			border-top-right-radius 4px
		&:last-child
			border-bottom-right-radius 4px
		&:hover
		&.active
			background #fff
		.data
			color $brand-primary


.slider-long
	ul
		overflow hidden
		position relative
		margin 0
		padding 0
		width 100%
	li
		display inline-block
