script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
script(src='js/libs/tab.js')
<!--[if (gt IE 9)|!(IE)]><!-->
script(src='js/libs/swiper.jquery.js')
<!--<![endif]-->
<!--[if IE 9 ]>
<![endif]-->
script(src='js/main.js')
