//script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
script(src='js/jquery-1.11.3.min.js')
script(src='js/tab.js')
script(src='js/jquery.simpleslider.js')
script(src='js/main.js')
