.topmenu
	.topmenu__colors
		span Цвет сайта
		a(href="").color.color--white A
		a(href="").color.color--black A
	.topmenu__sizes
		a(href="").sizes.sizes--normal A
		a(href="").sizes.sizes--one-and-half A
		a(href="").sizes.sizes--double A
		a(href="") Обычная версия сайта

