@import "../bootstrap/variables"

@import "accessibility/common"

@import "accessibility/header"
@import "accessibility/footer"
@import "accessibility/languages"
@import "accessibility/breadcrumbs"
@import "accessibility/pagination"

@import "accessibility/menu"
@import "accessibility/slider"
@import "accessibility/news-panel"
@import "accessibility/children"