@import "../bootstrap/variables"

@import "accessibility/common"

@import "accessibility/header"
@import "accessibility/footer"
@import "accessibility/languages"

@import "accessibility/menu"
@import "accessibility/slider"
@import "accessibility/news-panel"