@import "../bootstrap/variables"

@import "elements/common"
@import "elements/header"
@import "elements/menu"
@import "elements/footer"
@import "elements/breadcrumbs"
@import "elements/buttons"

@import "elements/slider"
@import "elements/news-panel"

@import "elements/news"
@import "elements/post-page"
@import "elements/other-news"
@import "elements/static"